* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    background-image: url("./assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 522px 680px;
    backdrop-filter: blur(80px);
    min-height: 100vh;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

h1 {
    font-family: 'Xanh Mono', monospace;
    font-size: 64px;
    font-weight: 400;
}

h2 {
    font-family: 'Xanh Mono', monospace;
    font-size: 48px;
    font-weight: 100;
    font-style: italic;
}

h3 {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
    color: #d986ff;
    font-weight: 600;
    transition: 0.3s;
}

a:hover {
    color: #bb2df3;
}

.underlined {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.underlined:before {
    content: '';
    position: absolute;
    transition: transform .5s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #bb2df3;
    transform: translateX(-100%);
}

.underlined:hover:before {
    transform: translateX(0);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 15px;
    list-style: none;
}

.section-hero {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 60px;
    padding-left: 15px;
}

.hero-text {
    max-width: 600px;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 40px;
}

.section {
    padding: 5px 5px 20px 5px;
}

.contacts-list {
    list-style: none;
}

.contacts-item {
    position: relative;
    padding-left: 25px;
}
  
.contacts-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 20px;
    height: 20px; 
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts-item:nth-child(1):before {
    background-image: url("./assets/svg/geo.svg");
    width: 25px;
    height: 25px; 
    top: 2px;
    left: -3px;
}

.contacts-item:nth-child(2):before {
    background-image: url("./assets/svg/phone.svg");
}

.contacts-item:nth-child(3):before {
    background-image: url("./assets/svg/email.svg");
}

.contacts-item:nth-child(4):before {
    background-image: url("./assets/svg/tg.svg");
}

.contacts-item:nth-child(5):before {
    background-image: url("./assets/svg/gh.svg");
    width: 25px;
    height: 25px; 
    left: -3px;
}

.skills-list {
    padding-left: 20px;
    list-style-type: circle;
}

.bold {
    font-weight: 600;
}

.courses-list {
    padding-left: 20px;
    list-style-type: circle;
}

.projects-items {
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
    gap: 15px;
}

.project-item {
    width: 400px;
    height: 210px;
    position: relative;
    overflow: hidden;
}

.project-image {
    width: 400px;
    height: 210px;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(237, 255, 209, 0.9);
    z-index: 1;
    transform: translateY(100%);
    transition: 0.5s;
    padding: 0 10px;
}

.project-item:hover .project-info {
    transform: translateY(0%);
}

.certificate {
    max-width: 400px;
}

.education-list {
    list-style: none;
}

.education-additional {
    padding-left: 20px;
    list-style-type: circle;
}

@media (max-width: 895px) {
    .section-hero {
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
}

@media (max-width: 730px) {

    .nav-list {
        flex-wrap: wrap;
    }

    .main-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .first-column {
        width: 100%;
    }

    .second-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .contacts-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        column-gap: 20px;
    }

    .projects-items {
        justify-content: center;
    }

}

@media (max-width: 450px) {

    .project-item {
        width: 100%;
        height: auto;
    }

    .project-image {
        width: 100%;
        height: auto;
    }

    
    .certificate {
        width: 100%;
        height: auto;
    }

}