* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    background-image: url('./assets/images/bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 522px 680px;
    backdrop-filter: blur(80px);
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    list-style: none;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main-container {
    display: flex;
    flex-direction: row;
}